@import "tailwindcss";
/* Radix UI Colors */

/* Blue */
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

/* Green */
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";

/* Red */
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

/* Amber */
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";

/* Purple */
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-dark-alpha.css";

/* Sage */
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sage-dark-alpha.css";

/* Slate */
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/slate-dark-alpha.css";

/* Import token CSS files */
@import "../styles/tokens/spacing.css";
@import "../styles/tokens/dimensions.css";
@import "../styles/tokens/typography.css";
@import "../styles/color.css";
@import "../styles/tokens/roundness.css";

/* Import component CSS files */
@import "../components/ui/text/text.css";
@import "../components/ui/box/box.css";
@import "../components/ui/flex/flex.css";
@import "../components/ui/grid/grid.css";
@import "../components/ui/layout/layout.css";

* {
  /* outline: 1px dashed var(--gray-5); */
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, sans-serif);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Define a class for mono if you need to switch easily */
.font-mono {
  font-family: var(--font-geist-mono, monospace);
}
